/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199.98px) {


}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991.98px) {
  .layout_bg img{
    margin-top: 120px;
  }

}

 
/* small mobile :320px. */
@media (min-width: 576px) and (max-width: 767.98px) {

 
}
 
/* Large Mobile :480px. */
@media only screen and  (max-width: 575.98px) {

  #features {
    padding-top: 12em;
}
    .topRigthBtn span {
        left: -13px;
        top: 36px;
      }
      .floating_text {
        margin-left: 10px;
    }
      .topRigthBtn{
        top: -18px;
        
        position: relative;
      }
      .new_btn {
        
        MARGIN-TOP: 20px;
        
    }
 
}
@media (min-width: 320px) and (max-width: 480px) {
  
  strong {
    font-size: 20px;
}
section#Layout_2 h2 {
  font-size: 24px;
}
#Layout_2  .Layout_desc {
  text-align: center;
  margin-top: 60px;

  }
  
}
